<h1><%= pluralize(@projects.length, "Project") %></h1>

<% @projects.each do |project| %>
<table >
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Target</th>
    <th>When end</th>
    <th>Website</th>
  </tr>
  <tr>
    <td><%= link_to project.name, project %> </td>  
    <td><%= project.description %> </td>  
    <td><%= number_to_currency(project.target) %> </td>  
    <td><%= project.release %> </td>  
    <td><%= project.website %> </td>  
  </tr>
</table>
<% end %>